
.show {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // border: 1px solid #EEE;
  
  .designer {
    flex: 1;
    overflow: hidden;

    .loading {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999;
    }

    :global {
      blockquote {
        margin-bottom: 0!important;
      }
    }
  }
}

:global {
  #root > div > div > div.designer_OCBLm > div > blockquote > div > div.lyStage-bcb68 > div:nth-child(1) > div > div.viewWrap-ffa50 > div.canvasWrap-d66cd > div.navs-c3f4d.navFloat-c294c > div > div.comlibs-d201b > div:nth-child(1) {
    display: none;
  }
  #root > div > div > div.designer_OCBLm > div > blockquote > div > div.lyStage-bcb68 > div:nth-child(1) > div > div.viewWrap-ffa50 > div.canvasWrap-d66cd > div.navs-c3f4d.navFloat-c294c > div > div.comlibs-d201b > div:nth-child(2) > div.header-d9552 > div.icons-ee75d {
    display: none;
  }
}
