.publishLoading {
  display: flex;

  .text {
    margin-left: 14px;
  }
}

.saveValidates {
  h2 {
    font-size: 18px;
    margin-top: -6px;
    margin-bottom: 16px;
  }

  .subTitle {
    margin-bottom: 6px;
    // font-weight: 500;
  }

  .name {
    margin-bottom: 4px;
    font-size: 13px;
    margin-left: 12px;
  }

  .willSaves {
    .subTitle {
      // color: #16A157;
    }
 
    .name {
      // color: #16A157;
    }
  }

  .cannotSaves {
    .subTitle {
      // color: #faad14;
    }

    .name {
      // color: red;
    }
  }

  .reason {
    color: #faad14;
    font-style: italic;
    font-size: 12px;
    margin-left: 12px;
  }

  
  .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
  }
}